
body {
    margin: 0;
    padding: 0;
    background-color: white;
    color: black;
    font-family: 'Roboto', sans-serif;
}

.header {
    /* UGLY CSS HACK! Creates a seperate overlapping grid for the header because of the 
        extra wrapping <div/> created by the <Header /> component.
    */
    display: grid;
    grid-template-rows: 150px;
    grid-template-columns: repeat(8, 200px);  /* ensure this == .ride.grid-template-columms */
}

.logo {
    grid-column: 1;
    grid-row: 1;       
    height: 100px;
    margin: 15px;
}

.versionInfo {
    grid-column: 1;
    grid-row: 1;   
    padding-left: 100px;
    padding-top: 15px;
    font-size: 10px;
}

.appVersionInfo {
    font-size: 18px;
}

.menu {
    grid-row: 1;
    grid-column: 8;
    margin-top: 30px;
    display: grid;
    grid-template-rows: 40px, 40px;
    grid-template-columns: auto;
    font-size: 14px;
}

.menuLink {
    font-size: 28px;
    font-weight: 100;
    text-decoration: none;
    color: black;
    grid-column: 1;
    grid-row: 1;
}

.fecConnectedStatus {
    grid-column: 1;
    grid-row: 2;
    margin-top: -30px;
}

.bpConnectedStatus {
    grid-column: 1;
    grid-row: 2;
    margin-top: -10px;
}

.hrmConnectedStatus {
    grid-column: 1;
    grid-row: 2;
    margin-top: 10px;    
}

.connectedStatus {
    color: green;
}

.notConnectedStatus {
    color: red;
}

#closeBtn {
    position: absolute;
    top: 30px;
    right: 30px;
    height: 40px;
    width: 40px;
}

.status, .targetPowerStatus {
    grid-row: 1 / 2;
    grid-column: 3 / span 3;
    text-align: center;
    padding: 30px;
    font-size: 25px;
}

.targetPowerStatus {
    color: red;
    font-size: 35px;
    font-weight: 800;
    font-variant-caps: all-small-caps;
}

.status.error {
    background-color: red;
}

Button {
    border: none;
    padding: 5px;
    margin: 5px;
    width: 175px;
    height: 40px;
    font-size: 20px;
    background-color: rgb(237, 31, 36);
    color: white;
}
