.settings {
    display: grid;
    grid-gap: 10px;
    grid-template-rows: auto;
    grid-template-columns: repeat(3, 1fr);   
    margin-left: 50px;
    margin-right: 50px;
    width: 90%;
}

.trainer {
    grid-row: 1;
    grid-column: 1;   
}

.powerMeter {
    grid-row: 1;
    grid-column: 2;
}

.settings .heartRate {
    grid-row: 1;
    grid-column: 3;
}

.deviceTitle {
    font-size: 30px;
    margin-bottom: 15px;
}

.deviceInfo {
    width: 250px;
    height: 75px;
    color: white;
    background-color: black;
    margin: 5px;
}

.deviceSelect {
    border: none;
    display: inline-block;
    padding: 10px;
    /*margin:-5px -20px -5px -5px; */
    overflow: hidden;
    font-size: 25px;
}

.heartRateConnected {

}

.availableDevices {

}

.trainerSettings {}

.advancedTrainerSettings, .advancedPowerMeterSettings, .heartRateSettings, .powerMeterSettings {
    display: grid;
    grid-template-columns: 250px 45px;
    margin-top: 25px;
    margin-bottom: 10px;
}

.powerMeterSettings input, .advancedPowerMeterSettings input, .heartRateSettings input {
    grid-column: 2;
}

.advancedPowerMeterSettings .description {
    font-size: 18px;
    margin-bottom: 10px;
}

.advancedPowerMeterSettings input[type="checkbox"] {
    grid-column: 2;
}

.powerMeterSettings .label, .advancedPowerMeterSettings .label, .advancedPowerMeterSettings input[type="radio"],
.advancedPowerMeterSettings label {
    grid-column: 1;
}

.advancedPowerMeterSettings .label, .advancedTrainerSettings .label, .heartRateSettings .label {
    grid-column: 1;
}

.advancedTrainerSettings button {
    grid-column: 1 / 3;
}

.advancedTrainerSettings.input {
    grid-column: 2;
}

.advancedTrainerSettings input[type="checkbox"] {
    grid-column: 2;
}

.setTargetPower {
    grid-column: 1;
    grid-row: 1;
}

.setServo {
    grid-column: 1;
    grid-row: 1;
}

.heartRateBpm {
    font-weight: bold;
    grid-column: 2;
}

