<!doctype html>
<html lang="en" ng-app="trainerApp">
<head>
  <meta charset="utf-8">
  <title>ANT+ Trainer</title>
  <!--
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css"> -->
  <link rel="stylesheet" href="../stylesheets/main.css">
  
  <script src="../node_modules/angular/angular.js"></script>
  <!--<script src="../bower_components/angular-resource/angular-resource.js"></script>-->
  <script src="../app.js"></script>
  <script src="main.controller.js"></script>
</head>
<body ng-controller="mainCtrl">

  <table width="90%">
    <tr>
      <td width="25%">
          <table>
            <tr><td id="speed">{{speed}}&nbsp;<span id="speedUnit">mph</span></td></tr>
            <tr><td id="cadence">{{cadence}}&nbsp;<span id="cadenceUnit">rpm</span></td></tr>
          </table>
      </td>
      <td></td>
      <td width="25%">
        <table>
          <tr><td id="trainerPower">{{trainerPower}}&nbsp;<span class="powerUnit">watts (trainer)</span></td></tr>
          <tr><td id="bikePower">{{bikePower}}&nbsp;<span class="powerUnit">watts (bike)</span></td></tr>
          <tr><td id="targetPower">{{target}}&nbsp;<span class="powerUnit">watts (target)</span></td></tr>
        </table>
      </td>
    </tr> 
    <tr>
      <td></td>
      <td>
        Version:<span>{{version}}</span>
        <p/>
        <input type="text" ng-model="txtResistanceLevel" />
        <select id="resistanceSelect" ng-model="resistanceSelect">
            <option ng-repeat="option in resistanceOptions" value="{{option.id}}">
                {{option.name}}</option>
        </select>
        <button ng-click="setResistance();">Set Resistance</button>
        <button ng-click="getSettings();">Get Settings</button>
        <button ng-click="setSettings();">Set Settings</button>
        <br/>Speed:<span>{{speed}} mp/h</span>  
        <br/>Distance:<span>{{distanceTravelled}} miles</span>
        <br/>Time:<span>{{elapsedTime}}</span>
        <br/>Trainer Power:<span>{{trainerPower}}</span>
        <br/>Bike Power:<span>{{bikePower}}</span>
        <br/>Cadence:<span>{{cadence}}</span>
        
        <br/>ServoPosition:<span>{{servoPosition}}</span>
        <br/>swRevision:<span>{{swRevision}}</span>
        <br/>Settings:<input type="text" ng-model="settings"/>
        <br/>Drag:<input type="text" ng-model="drag"/>
        <br/>RR:<input type="text" ng-model="rr"/>
        <br/>Servo Offset:<input type="text" ng-model="servoOffset"/>
        <br/>Last command:<span>{{lastCommand}}</span>
        <br/>Last command time:<span>{{lastCommandTime}}</span>
        <br/>Target:<span>{{target}}</span>
        <br/>Flywheel:<span>{{flywheelRevs}}</span>
        
        <br/>User weight kg:<input type="text" ng-model="userWeightKg"/>
        <br/>Bike weight kg:<input type="text" ng-model="bikeWeightKg"/>
        <br/>Resistance Level:<input type="text" ng-model="resistanceLevel"/>  
      </td>
      <td></td>
    </tr>
  </table>  
</body>
</html>