
.ride {
    display: grid;
    grid-gap: 10px;
    grid-template-rows: 150px repeat(3, 235px) auto;
    grid-template-columns: repeat(8, 225px);
}

.dataValue {
    font-size: 100px;
    font-weight: 100;
    font-stretch: 100%;
    font-style: normal;
    font-variant-caps: normal;
    font-variant-east-asian: normal;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    text-align: right;
}

.dataLabel {
    font-size: 24px;
    text-align: right;
    margin-bottom: -20px;
}

.speed {
    grid-row: 1;
    grid-column: 1;
}

.cadence {
    grid-row: 2;
    grid-column: 1;
}

.bikePower {
    grid-row: 1 / 2;
    grid-column: 7 / 8;
}

.bikePowerAverage {
    grid-row: 2;
    grid-column: 7;    
}

.trainerPower {
    grid-row: 1;
    grid-column: 6;
}

.trainerPower .dataLabel {
    font-size: 18px;
    margin-bottom: -10px;    
}

.trainerPower .dataValue {
    font-size: 50px;
}

.targetPower {
    grid-row: 2 / 3;
    grid-column: 8 / 8;
}

.heartRate {
    grid-row: 3;
    grid-column: 1;   
}

.distance {
    grid-row: 1;
    grid-column: 3;    
}

.duration {
    grid-row: 1;
    grid-column: 4 / 6;    
}

.distance {
    grid-row: 1 / 2;
    grid-column: 3 / 4;   
}

.targetPowerStatus, .feState, .powerMeterConnectedStatus {
    font-size: 10px;
}

.resistanceLevel {
    grid-row: 3;
    grid-column: 7 / 9;
    align-self: center;
    justify-self: center;
}
